<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @provider.company %>
</p>

<p>
  <strong>Celphone:</strong>
  <%= @provider.celphone %>
</p>

<p>
  <strong>Name contact:</strong>
  <%= @provider.name_contact %>
</p>

<p>
  <strong>Type providers:</strong>
  <%= @provider.type_providers %>
</p>

<p>
  <strong>Users:</strong>
  <%= @provider.users_id %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
