<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user %>    
    <% if session[:type_users] == 2 %>
    <%= link_to 'Edit employees', edit_employee_path(session[:id_user]) %>    
    <% end %>
    <% if session[:type_users] == 3 %>
    <%= link_to 'Edit provideers', edit_provider_path(session[:id_user]) %>    
    <% end %>
<%= link_to "Edit user" , edit_user_registration_path %>
<%= link_to "Sign Out" , destroy_user_session_path , method: :delete %>
<% else %>
<%= link_to "Sign Up" , new_user_registration_path %>
<%= link_to "Log In" , new_user_session_path %>

<% end %>

<%= line_chart User.group_by_week(:created_at).count %>

